@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Corps du site */
body{
    background-image: url(Logo/fond2.png);
    margin: none;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position:  center;
    background-size: cover;
}
main{
    max-width: 1600px;
    margin: 0 auto 0;
}
.contenu-main{
    background-color: white;

}
header{
    margin: 50px auto 0;
    max-width: 1600px;

}
footer{
    margin: 0 auto 50px;
    max-width: 1600px;

}

/* Variable */
:root{
    --vert: #3faa01;
}
/* Header et navigation */
a {
    color: black !important;
    text-decoration: none!important;
}
.top_header{
    height: 100px;
    text-align: right;
    background-color:rgba(0, 0, 0, 0.7);

}
.logo{
    max-width: 10%;
    max-height: 10%;
    position: absolute;
    display: flex;
    
}


.navigation{
    padding-top: 50px!important;
}

.bouton{
    background: linear-gradient(800deg, #3faa01, #8cbf44 );
    font-family: Oswald, bold;
    font-size: 20px;
    margin-right: 5px;
    margin-top: 40px;
    max-width: 120px;
    padding: 4px;
}

.barre_top{
    background-color: lightgray;
    max-height: 3rem;

}

.second-bar{
    background-color: grey;
}

/* Typo HRW */

.container-typo{
    max-width: 50%;
    background-color: white;
    
}
/* Logo typo */
.titre_image{
    padding: 0rem 3rem;
}
.titre_logo{
    background-color: rgba(255, 255, 255, 0.9);
    max-width: 100%;
}

/* Reseaux sociaux */

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }